<html>
    <head>
        <title>Mi Blog</title>
        <link type="image/x-icon" href="/home/facundo/Escritorio/Programacion/blog/Heisenberg.ico"/>
        <link rel="stylesheet" href="Interfaz.css">
    </head>
    <body background="/media/88E9-D046/20-low-poly-wallpapers.jpg">

<header id="main-header">
<a id="logo-header" href="#">
<span class="site-name">Facundo Espinosa</span>
<span class="site-desc">Me gusta dormir y ver peliculas</span>
</a>

<nav>
<ul>
<li><a href="BlogAEntregar.html~.html">Inicio</a></li>
<li><a href="#">Acerca de</a></li>
<li><a href="#">Contacto</a></li>
<li><a href="trabajo.html">Trabajos</a></li>
</ul>
</nav>
</header>
<article>
<section id="main-content">
<h2 class="subtitulo">Trabajos</h2>
<div class="Content">
<p><a href="/home/facundo/Escritorio/Programacion/Espinosa/Calculadora en java script/index.html">Trabajo Numero 1: calculadora</a></p>
<p><a href="/home/facundo/Escritorio/Programacion/Espinosa/ejercicio2.html">Trabajo Numero 2: Cambio de moneda</a></p>
<p><a href="/home/facundo/Escritorio/Programacion/Espinosa/Ejercicio3.html">Trabajo Numero 3: Programa chistoso</a></p>
</div>
</section>
</article>
</body>
<html>
